@import "navbar"
@import "toggle"
@import "notifications"
@import "buttons"
@import "upload"
@import "labels"
@import "graph"
@import "validation"
@import "grid"

.z-loading
  top: 50% !important
  left: 45% !important
  align-content: center
  vertical-align: middle

.scrollable
  overflow: scroll

.margin-top-7px
  margin-top: 7px

.text-align-center
  text-align: center

.max-width
  max-width: 100%

.max-height
  max-height: 100%

.display-block
  display: block
  white-space: normal
  word-wrap: break-word
  word-break: break-all

.no-hor-overflow
  overflow-x: hidden

.padding-bottom-20px
  padding-bottom: 20px

.start-font
  font-size: 20px
  color: rgba(0, 0, 0, 0.54)