.grey-box {
    background-color: #ebebeb;
    margin: 40px;
}

.big-blue-btn {
    background: #021f54;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 100px;
    word-wrap: break-word;
    font-size: larger;
    cursor: pointer;
    white-space: initial;
    line-height: 130%;
    border-radius: 0;
}

.big-blue-btn:hover {
    background: #02208f;
}

.big-blue-btn:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.big-blue-btn:focus {
    background: #021f54;
    color: white;
}

.big-grey-btn {
    background: #bababa;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 100px;
    word-wrap: break-word;
    font-size: larger;
    cursor: pointer;
    white-space: initial;
    line-height: 130%;
    border-radius: 0;
    margin-top: 30px;
}

.big-grey-btn:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.big-grey-btn:focus {
    background: #d1d1d1;
    color: white;
}

.big-grey-btn:hover {
    background: #d1d1d1;
}

.start-caption {
    font-weight: bold;
    font-size: larger;
    min-font-size: larger;
}

.error-label {
    color: red;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(255, 21, 0, 0.38);
}

.z-notification-info .z-notification-content {
    background: rgba(10, 255, 31, 0.38);
    color: rgba(46, 135, 1, 0.69);
    margin: 40px;
    text-align: center;
    border-radius: 1px;
}

.label-combo {
    margin-top: 4%;
    margin-left: 30px;
}

.label-combo .z-label {
    font-weight: bold;
    font-size: 110%;
}


.grey-box-navbar .z-navitem-content {
    background: #bababa !important;
    text-align: center;
    padding-right: 20px;
    height: 70px;
    border: none;
    border-bottom: none !important;
}

.grey-box-navbar .z-navitem-text {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color:rgba(247,247,247,0.65);
    font-size: large;
    margin-right: 30px;
}

.grey-box-navbar .z-navitem-selected .z-navitem-content:hover {
    background: deepskyblue !important;
    color: white !important;
}

.grey-box-navbar .z-navitem-selected .z-navitem-content .z-navitem-text {
    color: white !important;
}

.grey-box-navbar .z-navitem-selected .z-navitem-content {
    background: deepskyblue !important;
    color: white !important;
    border: none;
}

.z-notification-content {
    padding-right: 40px;
    font-size: medium;
}

.z-navitem-content {
    text-align: center;
    padding-right: 20px;
    height: 70px;
    border: none;
}

.z-navitem-text {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #021f54;
    font-size: large;
    margin-right: 30px;
}

.z-navbar .z-navitem-selected .z-navitem-content:hover {
    background: rgba(209, 209, 209, 0.69);
}

.z-navbar .z-navitem-selected .z-navitem-content {
    background: rgba(238, 238, 238, 0.65);
    border: none;
    border-bottom: solid 7px #02208f;
}

.option-row {
    margin-top: 5%;
    margin-bottom: 3%;
    word-wrap: break-word;
    white-space: normal;
    margin-left: 5%;
}

.option-label {
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: large;
}

.option-values {
    margin-left: 50px;
}

.option-value {
    margin-left: 100px;
}

.option-value input[type="checkbox"] {

}

.option-value .z-checkbox-content {
    font-size: large;
    margin-left: 5px;
}



