.grey-box {
    background-color: #ebebeb;
    margin: 40px;
}

.big-blue-btn {
    background: #021f54;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 100px;
    word-wrap: break-word;
    font-size: larger;
    cursor: pointer;
    white-space: initial;
    line-height: 130%;
    border-radius: 0;
}

.big-blue-btn:hover {
    background: #02208f;
}

.big-blue-btn:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.big-blue-btn:focus {
    background: #021f54;
    color: white;
}


.big-grey-btn {
    background: #bababa;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 100px;
    word-wrap: break-word;
    font-size: larger;
    cursor: pointer;
    white-space: initial;
    line-height: 130%;
    border-radius: 0;
    margin-top: 30px;
}

.big-grey-btn:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

.big-grey-btn:focus {
    background: #d1d1d1;
    color: white;
}

.big-grey-btn:hover {
    background: #d1d1d1;
}


.start-caption {
    font-weight: bold;
    font-size: larger;
    min-font-size: larger;
}

.error-label {
    color: red;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(255,21,0,0.38);
}