.z-loading {
    top: 50% !important;
    left: 45% !important;
    align-content: center;
    vertical-align: middle;
}

/* Toggle css taken from: */
/* https://github.com/zkoss-demo/zk-template-examples/blob/toggle-switch/src/main/webapp/css-toggle-switch/css/cmn-toggle-for-zk-checkbox.css#L21 */

.toggle > input {
    position: absolute;
    visibility: hidden;
}

.toggle > label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.toggle-round-flat > label {
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
    transition: background 0.4s;
}

.toggle-round-flat > label:before,
.toggle-round-flat > label:after {
    display: block;
    position: absolute;
    content: "";
}

.toggle-round-flat > label:before {
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.4s;
}

.toggle-round-flat > label:after {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 26px;
    background-color: #dddddd;
    border-radius: 26px;
    transition: margin 0.4s, background 0.4s;
}

.toggle-round-flat > input:checked + label {
    background-color: #4fb7ff;
}

.toggle-round-flat > input:checked + label:after {
    margin-left: 30px;
    background-color: #4fb7ff;
}

.z-navbar-horizontal > li {
    padding-left: 15px;
}

.selected-option {
    background: #bcdeff !important;
    color: white;
}

.z-notification-info .z-notification-content {
    background-color: rgba(45, 255, 0, 0.15);
    text-align: center;
    border-radius: 5px;
    padding: 40px 40px 40px 70px;
    width: 100%;
    border: thin solid rgba(35, 170, 0, 0.7);
}

.z-notification-error .z-notification-content {
    background-color: rgba(255, 29, 4, 0.25);
    border: thin solid rgba(170, 4, 4, 0.7);
    text-align: center;
    border-radius: 5px;
    padding: 40px 40px 40px 70px;
    width: 100%;
}

.z-notification-error .z-notification-close {
    background-color: rgba(255, 0, 3, 0.05);
}

.z-notification-error .z-notification-icon {
    background-color: rgba(45, 255, 0, 0.05);
}

.z-notification-info .z-notification-close {
    background-color: rgba(255, 0, 6, 0.05);
}

.z-notification-info .z-notification-icon {
    background-color: rgba(45, 255, 0, 0.05);
}

.z-icon-info-circle {
    content: none
}

.z-notification-content {
    padding-left: 70px;
    font-size: small;
}

.close-btn {
    color: black !important;
    background-color: whitesmoke !important;
}

.bold-text {
    font-weight: bold;
}

.n-btn {
    min-height: 48px;
    min-width: 48px;
    max-width: 100%;
    max-height: 100%;
}

.c-cont {
    text-align: center;
    font-weight: bold;
    max-width: 100%;
}

.s-text {
    font-size: 25px;
}

.file-upload-label {
    margin: auto;
    padding: auto;
    font-weight: bold;
}

.file-upload-label-err {
    padding: 30px;
    font-weight: bold;
    color: red;
    border-radius: 3px;
    background-color: rgba(255, 21, 0, 0.38);
}

.param-modal {
    max-width: 95%;
    max-height: 100%;
}

.param-modal-combo {
    max-width: 100%;
    min-width: 48px;
}
